$primaryColor: #B58D53;
$secondaryColor: #54B673;
$fontcolor: #333;
$greyColor: #ccc;
$accentColor: #8353B5;
$defaultFont: "Poppins", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;